<% if(car != null) { %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item">
      <a href="/brands/<%- car.brand.replace(/ /g, '') -%>"><%- car.brand -%> <%- car.model -%> </a>
    </li>
    <li class="breadcrumb-item">#<%- car._id -%></li>
  </ol>
</nav>
<div class="row">
  <div class="col-12 ">
  <div class="d-flex justify-content-center mb-3">
    <img src="/uploads/<%- car.image -%>" class="img-fluid rounded shadow car-img" />
  </div>
  <div class=" car-img mx-auto">


      <div class="col-12 ">
        <h1 class="text-nowrap"><%- car.brand -%> <%- car.model -%></h1>
      </div>
      <div class="col-12 mb-1 ">
        <i class="bi bi-tag me-2"></i>
        <span>Price: <%- car.fixedPrice -%> </span>

      </div>

      <div class="col-12 mb-1">
        <i class="bi bi-calendar-date me-2"></i>

        <span>Production Year: <%- car.year -%> </span>
      </div>
      <div>
        <i class="bi bi-telephone-forward-fill me-2"></i>
        <span >Contact Number: <%- car.phone-%> </span>
      </div>
      <div class="mb-1 col-24">
        <i class="bi bi-info-circle me-2"></i>
        <span>Description: <%- car.description-%> </span>
      </div>
    </div>
  </div>

  </div>
</div>

<% } else{ %>
<h1>bar</h1>
<% } %>
