<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
  <div class="col-12 col-lg-6">
    <img src="/img/Main.png" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Cars Node.js" />
  </div>

  <div class="col-12 col-lg-6">
    <h1 class="display-5 fw-bold mb-3">Sahara Cars Deals</h1>
    <h2 class="display-10 fw-bold mb-3">Best English Cars</h2>
    <p class="lead">
      Check out our latest offers of new English cars. You can find your dream
      vehicle for a small amount of money. Our site offers cars for every budget and each one is factory new.
    </p>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">

      <a href="/random" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Show Random</a>
    </div>
  </div>
</div>

<!-- categories -->
<div class="row row-cols-2 row-cols-lg-4 g-3 g-lg-3">
  <% if(brands != "") { %> <% brands.forEach(function(brand,index){ %>

  <% if(brand.name != "Jaguar" && brand.name != "Land Rover") { %>
  <a href="/brands/<%- brand.name.replace(/ /g, '') -%>" class="col text-center scale-hover">
    <div class="shadow">
      <img src="/img/<%- brand.image -%>" alt="<%- brand.name -%>" Loading="lazy" />
    </div>
    <div class="pt-3"></div>
    <!-- <div class="pt-1 "><%- brand.name -%></div> -->
  </a>
  <%} %>
  <%}) %> <% } %>

  <a href="/brands" class="col text-center scale-hover">
    <div class="shadow">
      <img src="/img/ViewAll.png" alt="view-all" Loading="lazy" />
    </div>
    <div class="pt-1">View All</div>
  </a>
</div>

<!-- Latest cars -->

<section class="pb-4 pt-4">
  <div class="d-flex mb-2 align-items-center">
    <h2>Latest Deals</h2>
  </div>

  <div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-3">
    <% if(cars != "") { %> <% cars.forEach(function(deal,index){ %>
    <a href="/car/<%- deal.id -%> " class="col text-center scale-hover-big">
      <div class="shadow">
        <img src="/uploads/<%- deal.image -%>"
          alt="<Heroku deleted this image from previous user, becuase Heroku probably stored this file temporarly>"
          Loading="lazy" />
      </div>
      <div class="pt-1"><%- deal.brand -%> <%- deal.model -%> - <%- deal.fixedPrice -%></div>
    </a>
    <%}) %> <% } %>
    <a href="/car/#" class="col text-center scale-hover-big">
      <div class="shadow">
        <img src="/img/ViewAll.png" alt="view-all" Loading="lazy" />
      </div>
      <div class="pt-1">View All</div>
    </a>
  </div>

</section>

<!-- Submit cars -->
<hr>

<section class="px-4 py-4 my-5 text-center">
  <img src="/img/Publish.jpg" alt="Publish Your Car Deal!" width="500" height="210" Loading="lazy"
    class="d-block mx-auto mb-4 img-fluid rounded shadow" />
  <h1 class="display-5 fw-bold">Publish Your Car Deal!</h1>
  <div clas="col-lg-6 mx-auto"></div>
  <p class="lead-mb-4">
    In our webiste you can put your car deal in our website without any fee !
  </p>
  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
    <a href="/submit" class="btn btn-outline-secondary ">Submit Deal</a>
  </div>
</section>